Archlab6/Archlab6.Client/Connected Services/FlightService/Microsoft.ServiceModel.Samples.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Microsoft.ServiceModel.Samples" elementFormDefault="qualified" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Archlab6.FlightService" />
  <xs:element name="GetFlights">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Archlab6.FlightService" minOccurs="0" name="GetFlightsResult" nillable="true" type="q1:ArrayOfFlight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookFlight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flightID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookFlightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BookFlightResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>